.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__image {
  box-shadow: .1rem .1rem 1rem .1rem #871225a4;
}

.about__pfp {
  filter: blur(1px) brightness(75%);
}

.about__pfp::after {
  background-color: #87122517;
}

.about__title {
  font-size: var(--size-3xl);
  color: var(--clr-slate600);
  margin-bottom: 0;
}

.about__introduction {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate400);
  margin-top: 0;
}

.about__hr {
  color: var(--clr-slate600);
  border-color: var(--clr-slate600);
}

.second {
  color: var(--clr-slate400);
  margin-bottom: 1em;
}

.about__skills {
  padding-left: .5rem;
}

.about__skills h2 {
  margin-bottom: 0;
}

.about__skills p {
  margin: 0;
  padding-left: .5rem;
}

.about__skills {
  color: var(--clr-slate600);
  font-size: var(--size-sm);
}

.about__skills ul li {
  display: flex;
}

.about__star {
  color: var(--clr-slate800);
  margin: 1.2em 0 0 0.5em;
  width: 1rem;
}

.red-star {
  color: var(--clr-red);
}

.describe-skill {
  color: var(--clr-slate400);
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  .about {
    gap: 1.5rem;
  }

  .about__title {
    font-size: var(--size-4xl);
  }

  .about__introduction {
    max-width: 60ch;
    font-size: var(--size-base);
  }

  .about__items {
    gap: 1em;
    width: 50vw;
    
  }

  .about__skills {
    font-size: var(--size-base);
  }

  .about__star {
    height: var(--size-base);
    width: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .about__pfp {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__image {
    width: 24.520625rem;
  }

  .about__star {
    margin-top: 1.7rem
  }
}

/* md */
/* @media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
} */

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

    .about__title {
    font-size: var(--size-3xl);
  }

  .about__introduction {
    font-size: var(--size-lg);
  }

  .about__items {
    gap: 1.5em;
    width: 55vw;
  }

  .about__skills {
    font-size: var(--size-lg);
  }

  .about__star {
    height: var(--size-lg);
    width: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

      .about__title {
    font-size: var(--size-4xl);
  }

  .about__introduction {
    font-size: var(--size-xl);
    gap: 2rem;
  }

  .about__items {
    gap: 1.5em;
    width: 60vw;
  }

  .about__skills {
    font-size: var(--size-xl);
  }

  .about__star {
    height: var(--size-xl);
    width: var(--size-xl);
  }

  .about__image {
    width: 31rem;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
} */