.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.header__name {
  font-family: YsabeauSC, sans-serif;
  text-transform: uppercase;
  display: none;
  color: var(--clr-dark);
}

.header__menu {
  display: none;
}

.threeBars {
  color: var(--clr-light);
  height: var(--size-2xl);
  width: var(--size-2xl);
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0 1rem 0 0;
}

/* xs */
 /* @media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
} */

/* sm */
/* @media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
} */

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header {
    justify-content: space-around;
  }
  
  .header__name{
    display: block;
  }

  .threeBars {
    display: none;
  }
    
  .header__menu {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 3em;
  }

  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 500;
    color: var(--clr-slate600);
    transition: color 0.3s;
  }

  .header__link:hover {
    color: var(--clr-bleu);
  }

  .header__line {
    border: 1px solid var(--clr-slate600);
    padding-top: 1.5em;
  }

  .header__light {
    display: block;
    color: var(--clr-slate800);
    height: var(--size-xl);
    width: var(--size-xl);
  }

  .header__light:hover {
    color: var(--clr-light);
    transition: color 0.3s;
  }

  .header__name {
    font-size: var(--size-xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .header__link {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
  }

  .header__light {
    height: var(--size-2xl);
    width: var(--size-2xl);
  }
}

/* xl */
/* @media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
} */

/* 2xl */
/* @media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
} */