.projects {
  text-align: center;
}

.projects article {
  margin-bottom: 3rem;
}

.projects__title {
  font-family: YsabeauSC, sans-serif;
  font-size: var(--size-lg);
  color: var(--clr-light);
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.website-image {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: .5rem solid var(--clr-red);
  border-radius: 1rem;
}


/* xs */
@media (min-width: 475px) {
  .projects__title {
    font-size: var(--size-2xl);
  }

  .projects__description {
    margin: 0.5rem auto;
    font-size: var(--size-base);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .projects__title {
    font-size: var(--size-4xl);
  }

  .projects__description {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .projects__title {
    font-size: var(--size-5xl);
  }

  .projects__description {
    margin: 1rem auto;
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */