:root {
  /* colors */
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-bleu: #5c94bf;
  --clr-red: #871225;
  
  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.825rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

.light-theme {
  --clr-light: #070a13;
  --clr-dark: #cbcbcb;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
  --clr-bleu: #40627b;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(RobotoCondensed-Regular.ttf);
  src: url(RobotoCondensed-Light.ttf);
  src: url(RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: YsabeauSC;
  src: url(YsabeauSC-Bold.ttf);
  src: url(YsabeauSC-Regular.ttf);
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'RobotoCondensed', serif, sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  transition: all .4s;
}

.descriptive-text {
  max-width: 60ch;
  color: var(--clr-slate600);
  font-size: var(--size-sm);
  margin-top: 0.2rem;
}

img,
picture,
svg,
canvas,
video {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  text-decoration: none;
  color: var(--clr-bleu);
}

a:hover {
  color: var(--clr-slate400);
  transition: color .5s;
}

strong {
  color: var(--clr-red);
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* scrollbar*/
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-red);
  outline: 1px solid var(--clr-slate800);
}

